graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include pytest.ini
include tox.ini

include AUTHORS.md
include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include README.md

recursive-exclude docs/notebooks *.ipynb
recursive-exclude docs/notebooks/media *.svg
recursive-exclude docs/notebooks/media *.png
recursive-include sphinx *.py
recursive-include sphinx *.rst

global-exclude *.py[cod] __pycache__/* *.so *.dylib

exclude CLAUDE.md
exclude convert_clean.sh
prune data

exclude mkdocs.yml
recursive-exclude docs *
exclude tox.ini
exclude .pre-commit-config.yaml
exclude tests/*.gz
exclude sphinx/scripts/convert_docs.py
exclude laserdocs_sphinx/*
exclude tests/harvest_test_docstrings.py
exclude mkdocs_jenner.yml
exclude sphinx/Makefile
